DATABASE_URL=postgresql://postgres:postgres@localhost:5432/backend?schema=public
JWT_SECRET=secret
JWT_EXPIRES_IN=36000000

AUTH_SERVICE_URL=0.0.0.0:50051
FRAUD_ENGINE_SERVICE_URL=0.0.0.0:50052
NOTIFICATION_SERVICE_URL=0.0.0.0:50053
TRANSACTION_SERVICE_URL=0.0.0.0:50054
KAFKA_BROKER=0.0.0.0:9092

AUTH_SERVICE_PORT=50051
FRAUD_ENGINE_SERVICE_PORT=50052
NOTIFICATION_SERVICE_PORT=50053
TRANSACTION_SERVICE_PORT=50054
BASE_URL=0.0.0.0

MAILGUN_API_KEY=
MAILGUN_FROM_EMAIL=
MAILGUN_DOMAIN=